/* GENERAL/ROOT STYLING */
*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'RedHat', sans-serif;
	font-size: 1em;
}
img {
	max-width: 100%;
}
.container {
	width: 90%;
	margin: 0 auto;
}
@font-face {
	font-family: 'RedHat';
	src: url(/assets/fonts/RedHatText-VariableFont_wght.ttf);
}
@font-face {
	font-family: 'RedHat Italic';
	src: url(/assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
}

body {
	background-color: hsl(13, 31%, 94%);
}

.head-text {
	font-size: 1.5em;
	margin: 1em 0;
}
/* PRODUCT LIST STYLING */

.products {
	margin: 1em 0;
	position: relative;
}
.product-image {
	border-radius: 10px;
}
.add-to-cart {
	background-color: hsl(20, 50%, 98%);
	padding: 0.5em 1em;
	border-radius: 50px;
	border: 1px solid hsl(12, 20%, 44%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
	font-size: 1em;
	position: absolute;
	top: 65%;
	left: 30%;
	width: 160px;
	max-width: 50%;
	/* margin: 0 auto;
	margin-top: -10px; */
	cursor: pointer;
}
.un-selected {
	display: flex;
	justify-content: space-between;
}

.increment {
	border: 1px solid white;
	border-radius: 50%;
	padding: 0.1em;
}
.decrement {
	border: 1px solid white;
	border-radius: 50%;
	padding: 5px 1px;
}
.quantity {
	padding-right: 5px;
	color: white;
}
.selected {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.background-color {
	background-color: hsl(14, 86%, 42%);
}
.add-to-cart img {
	margin-right: 0.5em;
}

.product-details {
	margin: 1em 0 1em 0;
}
.product__sub-name {
	font-size: 0.9em;
	font-weight: 500;
	color: hsl(12, 20%, 44%);
}
.product__price {
	color: hsl(14, 86%, 42%);
	font-weight: 500;
}

/* CART STYLING */
.cart {
	background-color: white;
	padding: 1em;
	border-radius: 10px;
}
.cart-title {
	color: hsl(14, 86%, 42%);
	font-size: 1.2em;
}
.cart-image {
	display: flex;
	justify-content: center;
}
.cart-description {
	color: hsl(12, 20%, 44%);
	font-size: 0.7em;
	font-weight: 600;
	text-align: center;
	margin-top: 1em;
}

/* ORDER CONFIRMED STYLING */
.order-confirmed {
	margin: 1em 0;
	background-color: #fff;
	border-radius: 10px;
	padding: 1em 0;
}
.confirmed-text {
	width: 80%;
	margin: 1em 0;
}
.confirmed-text h1 {
	font-size: 2.5em;
	line-height: 1em;
}
.greeting {
	font-size: 1em;
	color: hsl(12, 20%, 44%);
	margin: 0.5em 0 1em 0;
}

.order-details {
	background-color: hsl(13, 31%, 94%);
	border-radius: 10px;
	padding: 1.5em;
}
.order {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 0.7em;
	border-bottom: 1px solid hsl(14, 25%, 72%);
}
.img-thumbnail {
	width: 20%;
}
.image-thumbnail {
	border-radius: 10px;
}
.order-item {
	display: flex;
	flex-direction: column;
	width: 50%;
}
.order__title {
	font-size: 0.8em;
	color: hsl(14, 65%, 9%);
	padding-bottom: 0.3em;
}
.order__item__info {
	display: flex;
	gap: 1em;
}
.order__quantity {
	font-size: 0.9em;
	color: hsl(14, 86%, 42%);
	font-weight: 900;
}
.order__price {
	color: hsl(12, 20%, 44%);
	font-size: 0.9em;
}
.order__item-price {
	font-weight: 700;
	color: hsl(14, 65%, 9%);
	text-align: right;
}
.order__total__price {
	padding-top: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.order__price__text {
	font-size: 0.8em;
	color: hsl(12, 20%, 44%);
}
.total__price {
	color: hsl(14, 65%, 9%);
	text-align: right;
	font-size: 1.2em;
}

.new__order {
	width: 100%;
	padding: 0.8em 0;
	margin: 1em 0;
	background-color: hsl(14, 86%, 42%);
	border: none;
	color: #fff;
	font-size: 1em;
	border-radius: 50px;
	font-weight: 600;
	cursor: pointer;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(3px);
	z-index: 3;
}
/* STATE STYLING */
.hidden {
	display: none;
}
/* ATTRIBUTION STYLING */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
